@use "variables" as *;

.wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    // position: relative;
}
li {
    list-style: none;
}
button {
    background-color: $accent;
    padding: 10px 20px;
}
.matContainer {
    position: relative;
}