@use "variables" as *;

//*index Header */

.indexHeader {
    background-color: $pine;
    // margin: -20px;
    height: 56vh;
    nav {
        position: relative;
        .hamburger {
         position: absolute;
         transform: translateY(-1);
        }
    }
    .headingContainer {
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        // height: 43vh;
        width: 100%;
        .extra {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            // .blogTitle {
            //     padding: 4%;
            // }
            .circleContainer {
                width:9%;
                // height: 170px;
                position: absolute;
                top: 49%;
                left: 7%;
            
                img {
                    width: 100%;
                }
            }
            .blogTitle {
                margin-left: 11%;
                margin-top: 13%;
            }

        }
    }
}


.headerImageContainer {
    z-index: 2;
    margin-top: 5%;
    position: absolute;
    top: -15%;
    left: 57%;

    img {
        width: 100%;
        box-shadow: 25px 20px 0px 0px white;;
    }
}


/* Blog and Contact Header Styles */
.blogHeaderBody {
    background-image: url(../assets/blog-image-1.jpg);
}

.contactHeaderBody {
    background-image: url(../assets/contact-image-1.jpg);
}

.blogHeaderBody,
.contactHeaderBody {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: flex-end;

    h1 {
        font-size: 4.3rem;
        margin-bottom: 15px;
    }
}