@use "variables" as *;

nav {
    background-color: $pine;
}

.navFlexContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;

    li {
        margin: 20px 20px;
        a:hover {
            color: $accent;
        }

        h2 {
            font-size: 1.8rem;
            color: $white-shade;
            margin: 0px 15px;
        }
        h2:hover {
            color: $accent;
        }
    }
}
.hiddenToggle {
    display: none;
}
/* Media Query 320px */
@media (max-width: 320px) {

.navFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 150px;
    line-height: 5px;
    padding: 0px;
    position: relative;
    top: 15px;
    right: 130px;

        li {
            
            h2 {
            font-size: 1rem;
            margin: 0px;
        }
    }
       
}





} /* Media Query End */