@use "variables" as *;

.whoIsWillow,
.journey,
footer {
    background-color: $white-shade;
}
.favouriteBucket,
.yellowHouse,
.threeGallery {
    background-color: white;
}
.image2Mat,
.image3Mat,
.image4Mat {
    background-color: $green-grey;
    width: 400px;
    height: 500px;
}