@use "variables" as *;

/* Section Who Is Willow */
.whoIsWillow,
.journey,
footer {
    background-color: $white-shade;
}
/* Section Who Is Willow */
.favouriteBucket,
.yellowHouse,
.threeGallery {
    background-color: white;
}
.image2Mat,
.image3Mat,
.image4Mat {
    background-color: $green-grey;
    width: 400px;
    height: 500px;
}
/* Section yellow House */
.yellowHouse {
    background-image: url("../assets/home-image-5.jpg");
    // background-color: aqua;
    height: 33vh;
    width: 100vw;
    object-fit:none;
    background-repeat: no-repeat;
}

/* Section three picture gallery*/